* {
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
font-family: 'Montserrat Alternates', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Unica One', cursive;
}

//reponsive
@media (max-width: 768px) {
    .banner {
        .line {
            display: none;
        }
    }
    .content-1-right {
        .position-img-bottom {
            .img-bottom {
                display: none;
            }
        }
    }
 .content-5 {
    .img-none-padding {
        position: relative;
        left: 1px !important;
      }
 }
}

@media (max-width:567px) {
    .menu {
        .list {
            display: none !important;
            ;
        }
    }
    .content-1 {
        .deco-3 {
            display: none !important;
        }
    }
   
}


//reponsive
// banner
.banner {
    position: relative;
    .menu {
        .icon {
            overflow: hidden;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 18px;
            img {
                object-fit: cover;
                margin-right: 34px;
            }
        }
        .list {
            height: 114px;
            display: flex;
            justify-content: center;
            align-items: center;
            a {
                text-transform: uppercase;
                text-decoration: none;
                font-style: normal;
                font-weight: 500;
                font-size: 14px;
                letter-spacing: 2px;
                text-transform: uppercase;
                color: #FFFFFF;
                margin-left: 20px;
            }
        }
    }
    .text-banner {
        margin-top: 200px;
        text-align: center;
        h1 {
            font-family: 'SVN-Rockness';
            font-style: normal;
            font-weight: 400;
            font-size: 78px;
            line-height: 100%;
            color: #FFFFFF;
        }
        .text-green {
            font-family: 'SVN-Avant Garde Gothic';
            font-style: normal;
            font-weight: 700;
            font-size: 44px;
            line-height: 130%;
            text-align: center;
            color: #C4D82E;
        }
        .text-while {
            font-family: 'SVN-Avant Garde Gothic';
            font-style: normal;
            font-weight: 500;
            font-size: 38px;
            line-height: 130%;
            text-align: center;
            color: #FFFFFF;
        }
    }
    .text-footer {
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 120%;
        text-align: center;
        letter-spacing: 2px;
        color: #FFFFFF;
    }
    .line {
        .line {
            width: 100%;
            height: 3px;
        }
        .line-green {
            background: #B5C71E;
        }
        .line-blue {
            background: #304FBF;
        }
        .line-orange {
            background: #E35C34;
        }
        .line-black {
            background: #26316B;
        }
        .line-gray {
            background: #A07963;
        }
    }
    .img-banner {
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -1000;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(/assets/imges/banner.jpg);
    }
    .deco {
        position: absolute;
        bottom: 0;
        left: 0;
    }
    .deco-2 {
        position: absolute;
        right: 0;
        top: 0;
    }
}

// end banner
//content-1
.content-1 {
    position: relative;
    .content-1-left {
       .p-1 {
        font-family: 'SVN-Avant Garde Gothic';
        font-style: normal;
        font-weight: 500;
        font-size: 40px;
        line-height: 52px;        
        color: #4F4F4F;
       }
       .p-2{
        font-family: 'SVN-Avant Garde Gothic';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 160%;
        text-align: justify;        
        color: #4F4F4F;
       }
       .text-1{
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 15px;
        letter-spacing: 2px;
        text-transform: uppercase;
        color: #333333;
       }
       #number-1 {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 80px;
        line-height: 120px;
        color: #333333;
       }
       .text-2 {
           
         font-family: 'Montserrat';
         font-style: normal;
         font-weight: 400;
         font-size: 14px;
         line-height: 15px;
         letter-spacing: 2px;
         text-transform: uppercase;
         color: #333333;
       }
       .img-house{
           padding-top:85px;
       }
}
.thumb {
    overflow: hidden;
    display: flex;
    justify-content:center;
    align-items: center;
    margin-top: 20px;
    img {
        object-fit:cover;
        width: 100%;
        min-height:100%;
    }
    
}
.content-1-right {
   .position-img-bottom {
    position: relative;
    .thumb {
        overflow: hidden;
        img {
            width: 100%;
            min-height: 100%;
            object-fit: cover;
        }
    }
    .img-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    }
   }
}
.img-start {
    overflow: hidden;
    img {
        object-fit: cover;
        width: 100%;
        min-height: 100%;
    }
    margin-left:-11px;
    margin-top: 10px;
}
.deco-3 {
    .thumb {
        width: 508px;
       height: 508px;
       overflow: hidden;
       display: flex;
       justify-content:center;
       align-items:center;
       position: absolute;
       top: 16%;
       left: 33%;
       z-index: -1;
       img {
           object-fit: cover;
           width: 100%;
           min-height: 100%;
       }
    }
}
}

//end content-1

// content 2

.content-2 {
    .deco-4{
        overflow: hidden;
        img {
            object-fit: cover;
            width: 100%;
            min-height: 100%;
        }
    }
    position: relative;
    .thumb {
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
            width: 100%;
            min-height: 100%;
            object-fit: cover;
        }
    }
    .deco-4 {
        position: absolute;
    top: -40px;
    left: 0;

    }
  
    
    .deco-5 {
        display: flex;
       justify-content:flex-start;
       position: absolute;
       top: 25%;
       left: 15%;
       p {
        font-family: 'SVN-Avant Garde Gothic';
        font-style: normal;
        font-weight: 500;
        font-size: 43px;
        line-height: 52px;
        color: #FFFFFF;
        position: absolute;
        top:-60%;
       }
       .box-1 {
           margin-right: 20px;
           .text-deco {
            font-family: 'Nunito Sans';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 19px;    
            color: #FFFFFF;
           }
    
       }
       .box-2 {
        .text-deco {
            font-family: 'Nunito Sans';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 19px;    
            color: #FFFFFF;
           }
       }
    }
   }

//end content 2
// content 3
.content-3 {
    position: relative;
padding-top: 20px;
background: #F5F5F5;
    .deco-8 {
        position: absolute;
        right: 0;
        bottom: -36px;
        .img {
            overflow: hidden;
            img {
                object-fit: cover;
                width: 100%;
                min-height: 100%;
            }
        }
    }
    p {
        
font-family: 'Nunito Sans';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 22px;
color: #333333;
    }
    ul {
        li {
            list-style: url(/assets/imges/list-style.svg);
            font-family: 'Nunito Sans';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 19px;
            color: #333333;

        }
    }
}
// end content-3
//content-4 
.content-4 {
    position: relative;
    .content-left {
        position: relative;
        .img {
            overflow: hidden;
            display: flex;
            justify-content:center;
            align-items:center;
            img {
                object-fit:cover;
                width: 100%;
                min-height: 100%;
            }
        }
        .img-bottom {
            position: absolute;
            bottom: 13%;
            right: 0;
        }
    }
    .content-right {
        text-align: center;
        position: relative;
         h1 {
            font-family: 'SVN-Avant Garde Gothic';
            font-style: normal;
            font-weight: 500;
            font-size: 40px;
            line-height: 52px;
            color: #4F4F4F;
            margin-bottom: 20px;
         }
         .text-2,.text-3 {
            font-family: 'SVN-Avant Garde Gothic';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 160%;
            text-align: justify;
            color: #4F4F4F;
            margin-top: 50px;
         }
         .img {
             overflow: hidden;
             display:flex;
             justify-content:center;
             align-items:center;
             position: absolute;
             top:140%;
             img {
                 object-fit: cover;
                 width: 100%;
                 min-height:100%;
             }
         }
         .deco-5 {
             overflow: hidden;
             position: absolute;
             top: 20%;
             left: -25%;
             img {
                 width: 100%;
                 min-height: 100%;
                 object-fit: cover;
             }
         }

    }
    .deco-6 {
        overflow: hidden;
        position: absolute;
        bottom: -42%;
        left: 0;
        right: 46%;
        z-index: -1;
        img {
            object-fit: cover;
            width: 100%;
            min-height: 100%;
        }
    }
}

//end content-4
// content -5
.content-5 {
    margin-top: 200px;
background: #EA5A30;
padding: 40px;
position: relative;
  .box-1 {
    h5 {
        /* T1 */
    
    font-family: 'SVN-Avant Garde Gothic';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 52px;
    color: #FFFFFF;
    }
    span {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 160%;
        text-transform: uppercase;
        color: #FFFFFF;
        
    }
  }
  .box-2 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    text-transform: uppercase;
    color: #FFFFFF;
    opacity: 0.2;
  }
  hr {
      background-color: #FFFFFF;
  }
    .img {
        overflow: hidden;
        img {
            object-fit: cover;
            width: 100%;
            min-height: 100%;
        }
    }
  .img-none-padding {
    position: relative;
    left: 39px;
  }
  .img-deco {
      position: absolute;
      overflow: hidden;
      top: -41px;
      left: 0;
      img {
          object-fit: cover;
          width: 100%;
          min-height: 100%;
      }
  }
  .deco-9 {
      position: absolute;
      right: 0;
      bottom: -41px;
  }
  .deco-10 {
      position: absolute;
      bottom: 0;
      left: 0;
      bottom: -265px;
      left: 0;
      z-index: -1;
  }
}
 
//end content-5
// content-6
.content-6 {
    .thumb {
        overflow: hidden;
        img {
            object-fit: cover;
            width: 100%;
            min-height: 100%;
        }
        h6 {
            
font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 17px;
line-height: 24px;
color: #4F4F4F;
margin-top: 10px;
        }
        p {
            font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 160%;
color: rgba(0, 0, 0, 0.4);
        }
    }
}
//end content-6
// footer 
.footer {
    position: relative;
    padding-top:20px;
    background-image: url(/assets/imges/bg-footer.svg);
    padding: 10px;
    .img {
        overflow: hidden;
        img {
            object-fit: cover;
            width: 100%;
            min-height: 100%;
        }
    }
    h5 {
        font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 20px;
/* identical to box height */

text-transform: uppercase;

/* 1 */

color: #FFFFFF;
    }
    p{
        font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 160%;
/* identical to box height, or 24px */

display: flex;
align-items: center;

color: #FFFFFF !important;
    }
    hr{
       border: 1px dotted black;
    }
    h6{
        font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 20px;
/* identical to box height */

text-transform: uppercase;
color: #FFFFFF;
    }
    button {
        background: rgba(255, 255, 255, 0.15);
       border:none;
       padding:4px;
       color: #FFFFFF;
    }
 
   
     

   .form  {
background-image: url(/assets/imges/form.svg);

    padding: 40px;
    h4 {
        font-family: 'SVN-Avant Garde Gothic';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 24px;
text-transform: uppercase;
color: #333333;
    }
    input{    
     background: rgba(255, 255, 255, 0.15);
     border: 1px solid rgba(0, 0, 0, 0.2);
     box-sizing: border-box;
     padding:5px;
     margin-top: 5px;
     &:focus {
         outline: none;
     }
    }
}
p{
    font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 140%;
/* identical to box height, or 20px */

display: flex;
align-items: center;

/* Gray 1 */

color: #333333;
}
button {
    width: 94px;
height: 38px;
background: #EA5A30;
&:focus {
  outline: none;
}
}
     }
 
       
//end footer


